<h2 class="contact-title">Entre em contato</h2>
<section class="contact__container">
  <form class="contact-form">
    <input type="text" placeholder="Digite o seu nome" />
    <input type="assunto" placeholder="Digite o assunto" />
    <input type="tel" placeholder="(00) 0 0000-0000" />
    <input type="email" placeholder="Digite o seu e-mail" />
    <textarea maxlength="300" placeholder="Digite a sua mensagem..."></textarea>
    <button>Enviar</button>
  </form>
  <address>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3224.660181107635!2d-115.01789122497343!3d36.07739180811163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c8d0b89793735f%3A0x82738f1bb7cadcb8!2s712%20Red%20Bark%20Ln%2C%20Henderson%2C%20NV%2089011%2C%20EUA!5e0!3m2!1spt-BR!2sbr!4v1683906015502!5m2!1spt-BR!2sbr"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <p>712 Red Bark Lane</p>
  </address>
</section>
